{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    News 
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}


<div class="">
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <br>
    <h3>Всего новостей - {{news|length}}</h3>
    <br>
{% if news %}
    <table style="margin: auto" border = "2">
        <tr>
            <th>
                Заголовок
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Статья
            </th>
        </tr>
{% for new in news %}
        <tr>
            <td>
                {{new.title|censor }} 
            </td>
            <td>
                {{ new.dateCreation|date:'d M Y H:m'  }}
            </td>
            <td>
                {{ new.text|truncatechars:50|censor }}
            </td>
        </tr>
{% endfor %}
    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}
</div>

{% endblock content %}